.n1{
    color: #00025c;
}
.n2{
    color: #0d64c9;
}
.n3{
    color: #43b8ba;
}
.n4{
    color: #0dc968;
}
.n5{
    color: #98c90d;
}
.n6{
    color: #c9c60d;
}
.n7{
    color: #c9980d;
}
.n8{
    color: #d33313;
}
.n9{
    color: #c42131;
}
.n10{
    color: #ed430d;
}
.n11{
    color: #d31313;
}